.forum {
  max-width: 1728px;
  max-height: 1104px;
  width: 100%;
  height: 100vh;
  background-color: var(--black);
}
.column {
  display: flex;
  flex-flow: column;
}
.row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.forum-title-create {
  margin-top: 50px;
  height: 80px;
}
.forum-messages {
  width: 100%;
  margin: 10px 10px;
  padding: 10px 10px 10px 10px;
}
.forum-title {
  width: 208px;
  height: 60px;
  margin-left: 50px;
  font-family: Joystix, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
}
.red {
  color: var(--red);
}
.white {
  color: var(--white);
}
.forum-button {
  box-sizing: border-box;
  width: 181px;
  height: 43px;
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 90px;
  margin-left: auto;
  margin-right: 50px;
  background-color: var(--black);
}

.forum-current-user {
  width: 100%;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--white);
  margin-top: 100px;
}
.current-user-foto {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid var(--white);
}
.label-user {
  width: 32px;
  height: 15px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--white);
  margin-left: 20px;
}
.forum-create-module {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
}

.ring {
  width: 50%;
  height: 50%;
  object-fit: contain;
}
