.profile-menu {
  --button-background-color: var(--main-color-elements);
  --button-background-color-hover: var(--main-bg-alert);
  --button-success-background-color-hover: #7bc300;

  display: flex;
  flex-direction: column;
  width: 338px;
  min-height: 139px;
  border-radius: 20px;
  background-color: var(--main-color-bg-hover);
  overflow: hidden;

  &__button {
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: auto;
    font-size: 14px;
    line-height: 17px;
    font-family: Inter, Arial, sans-serif;
    color: var(--base-bg-white);
    border: none;
    background-color: var(--button-background-color);

    &:not(:disabled) {
      cursor: pointer;
    }

    &--error {
      &:not(:disabled) {
        --button-background-color: var(--profile-error);
      }
    }

    &--success {
      &:not(:disabled) {
        --button-background-color: var(--profile-success);
      }
    }
  }
}

@media (hover: hover) {
  .profile-menu__button {
    &:not(:disabled):hover {
      background-color: var(--button-background-color-hover);
    }

    &--success:not(:disabled):hover {
      background-color: var(--button-success-background-color-hover);
    }
  }
}
