.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    margin-top: 32px;
    margin-bottom: 30px;
    text-align: left;

    .profile__edit:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  &__edit {
    &-content {
      padding: 47px 39px;
    }
  }

  &__label {
    margin-bottom: 2px;
    font-size: 14px;
    color: var(--main-color-text-secondary);
  }

  &__value {
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color-text);

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__password {
    .profile__label {
      margin-bottom: 4px;
    }
  }
}
