.oauth {
  padding: 20px 40px;
  &__brand-logo {
    width: 30px;
    cursor: pointer;
  }
}

.oauth__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--main-color-text);
  gap: 16px;
}
