@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: Joystix;
  font-style: normal;
  font-weight: normal; /* 400 */
  src: local('Joystix'), url('./assets/fonts/Joystix/joystix-monospace.ttf') format('truetype');
}

:root {
  --main-font-family: 'Inter', sans-serif;
  --main-bg-success: #1fad58;
  --main-bg-alert: #de2900;
  --main-bg-attention: #f4bf00;
  --primary-bg-950: #0b0d42;
  --primary-bg-900: #0e1158;
  --primary-bg-800: #151a84;
  --primary-bg-500: #666ce6;
  --primary-bg-400: #a2a4dd;
  --primary-bg-300: #c7c9ea;
  --primary-bg-200: #dadbf1;
  --primary-bg-100: #ecedf8;
  --primary-bg-50: #f4f4fb;
  --secondary-bg-800: #8f6224;
  --secondary-bg-600: #d19747;
  --secondary-bg-500: #dbae70; /** basic */
  --secondary-bg-hover: #e7ba48;
  --base-bg-900: #303036; /** text */
  --base-bg-600: #60606c;
  --base-bg-500: #93939f;
  --base-bg-400: #afafb6;
  --base-bg-300: #c9cacf;
  --base-bg-200: #e4e4e7;
  --base-bg-100: #ececee;
  --base-bg-50: #f7f7f8;
  --base-bg-white: #fff;
  --avatar-bg-red: #ff845e;

  --main-color-bg: #000000;
  --main-color-bg-hover: #0c0c0c;
  --main-color-elements: #232323;
  --main-color-text: #ffffff;
  --main-color-text-secondary: #565656;

  --profile-error: rgba(222, 41, 0, 0.5);
  --profile-success: #89d900;

  --main-container: 1440px;
  --main-border-radius: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--main-color-bg);
  color: var(--main-color-text);
  font-family: var(--main-font-family);
}

.content-box {
  background: var(--main-color-bg-hover);
  border-radius: var(--main-border-radius);
  padding: 40px;
  width: auto;
}

.container {
  max-width: var(--main-container);
  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
