.error-page {
  display: flex;
  font: 400 30px/1.2 var(--game-font-family);
  height: 80vh;
  color: var(--main-color-text);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__wrapper {
    width: 100%;
    align-self: center;
    text-align: center;
  }

  &__status {
    font-size: 100px;

    &::first-letter {
      color: var(--main-bg-alert);
    }
  }

  &__text {
    font-size: 20px;
  }

  &__link {
    display: block;
    font-size: 30px;
    color: var(--main-color-text);
    margin-top: 20px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
