.forum-comp {
  max-width: 654px;
  max-height: 107px;
  border: var(--base-bg-600) solid 1px;
  border-radius: 30px;
  background: var(--base-bg-900);
  padding: 10px 10px;
  margin: 10px 10px;
}

.forum-message {
  width: 100%;
  overflow-wrap: normal; /* не поддерживает IE, Firefox; является копией word-wrap */
  word-wrap: normal;
  word-break: normal; /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
  line-break: auto; /* нет поддержки для русского языка */
  hyphens: manual; /* значение auto не поддерживается Chrome */
  color: white;
}
.forum-info {
  width: 100%;
}
.forum-user {
  width: 159px;
  height: 19px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: var(--dackGrey);
}
.forum-data {
  width: 123px;
  height: 19px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: var(--dackGrey);
}
.forum-quantity {
  width: 12px;
  height: 19px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: var(--dackGrey);
}

.forum-comp-column {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-items: center;
}
.forum-comp-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-items: center;
}
.white {
  color: var(--white);
}
